<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/home.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="navbar">
      <ul>
        <!-- <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/works">Works</a></li> -->
        <li><a href="gallery">Photo Gallery</a></li>
      </ul>
    </div>
    <div class="image-container">
      <img
        src="https://i.pinimg.com/originals/66/3e/c5/663ec5c905c2bb9beb9b97318dd121c1.png"
        alt="logo gorillaz"
      />
    </div>
  </body>
</html>
